@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #37393f;
}

#message {
    position: fixed;
    left: 425px;
    top: 560px;
    width: 840px;
    height: 50px;
    background-color: #202225;
    padding: 20px;
    overflow-y: auto;
    border: none;
    border-radius: 10px;
    outline: none;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 70px;
    height: 100%;
    background-color: #202225;
    padding: 20px;
}

.channel-sidebar {
    position: fixed;
    left: 70px;
    top: 0;
    width: 290px;
    height: 100%;
    background-color: #2f3136;
    padding: 20px;
}

.channel-topbar {
    position: fixed;
    left: 360px;
    top: 0;
    width: calc(100% - 370px);
    height: 50px;
    background-color: #37393f;
    padding: 20px;
}

#line {
    position: fixed;
    left: 360px;
    top: 60px;
    width: calc(100% - 370px);
    height: 1px;
    background-color: #313338;
    border: none;
}

.user-bar {
    position: fixed;
    left: 70px;
    bottom: 0px;
    width: 290px;
    height: 50px;
    background-color: #292b2f;
    padding: 20px;
}

.pfp {
    position: fixed;
    left: 80px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

#name {
    position: fixed;
    left: 120px;
    bottom: 14px;
    width: 120px;
    color: #fff;
    background-color: transparent;
    font-size: 13px;
    border: none;
    outline: none;
    caret-color: transparent;
}

#name:focus {
    border-bottom: 1px solid #393c42;
}

#name:focus::placeholder {
    color: transparent;
}

.mic-btn {
    position: fixed;
    left: 250px;
    bottom: 12px;
    width: 30px;
    height: 30px;
    font-size: 21px;
    background-color: transparent;
    color: #b9bbbe;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.headset-btn {
    position: fixed;
    left: 285px;
    bottom: 12px;
    width: 30px;
    height: 30px;
    font-size: 21px;
    background-color: transparent;
    color: #b9bbbe;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.settings-btn {
    position: fixed;
    left: 320px;
    bottom: 12px;
    width: 30px;
    height: 30px;
    font-size: 21px;
    background-color: transparent;
    color: #b9bbbe;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.mic-btn:hover, .headset-btn:hover, .settings-btn:hover {
    color: #fff;
    background-color: #8f9092;
}

.btn {
    position: fixed;
    right: 75px;
    top: 570px;
    width: 80px;
    height: 30px;
    background-color: #7289da;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.list {
    position: fixed;
    left: 390px;
    top: 61px;
    height: 500px;
    width: calc(100% - 360px);
    background-color: transparent;
    padding: 20px;
    overflow-y: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.list::-webkit-scrollbar {
    display: none;
}